<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XLocateWSBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api-test.cloud.ptvgroup.com/xlocate/ws/XLocate"
          binding="basicHttpBinding" bindingConfiguration="XLocateWSBinding"
          contract="XLocateServiceReference.XLocateWS" name="XLocateWSPort" />
    </client>
  </system.serviceModel>
</configuration>
