<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XRouteWSBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api-test.cloud.ptvgroup.com/xroute/ws/XRoute" binding="basicHttpBinding" bindingConfiguration="XRouteWSBinding" contract="XRouteServiceReference.XRouteWS" name="XRouteWSPort"/>
    </client>
  </system.serviceModel>
</configuration>
