<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XLocateWSBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api-test.cloud.ptvgroup.com/xlocate/ws/XLocate" binding="basicHttpBinding" bindingConfiguration="XLocateWSBinding" contract="XLocateServiceReference.XLocateWS" name="XLocateWSPort"/>
        </client>
    </system.serviceModel>
</configuration>
