<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XRouteWSBinding" maxReceivedMessageSize="2147483647">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="XRouteWSBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="XRouteWSBinding2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://xroute-eu-n-test.cloud.ptvgroup.com/xroute/ws/XRoute"
                binding="basicHttpBinding" bindingConfiguration="XRouteWSBinding"
                contract="XRouteServiceReference.XRouteWS" name="XRouteWSPort" />
            <endpoint address="https://xroute-eu-n-test.cloud.ptvgroup.com:443/xroute/ws/XRoute"
                binding="basicHttpBinding" bindingConfiguration="XRouteWSBinding1"
                contract="XRouteServiceReference.XRouteWS" name="XRouteWSPort1" />
        </client>
    </system.serviceModel>
</configuration>
