<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ptv.XServer.Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Ptv.XServer.Demo.Properties.Settings>
      <setting name="XUrl" serializeAs="String">
        <value>api-eu-test</value>
      </setting>
      <setting name="XToken" serializeAs="String">
        <value/>
      </setting>
      <setting name="BingKey" serializeAs="String">
        <value/>
      </setting>
      <setting name="HereAppId" serializeAs="String">
        <value/>
      </setting>
      <setting name="HereAppCode" serializeAs="String">
        <value/>
      </setting>
      <setting name="IntroSkipped" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DragDropIntroSkipped" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FeatureLayerEurope" serializeAs="String">
        <value>        &lt;Profile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
          &lt;FeatureLayer majorVersion="1" minorVersion="0"&gt;
            &lt;GlobalSettings enableTimeDependency="true"/&gt;
            &lt;Themes&gt;
              &lt;Theme id="PTV_TrafficIncidents" enabled="false" priorityLevel="0"/&gt;
              &lt;Theme id="PTV_TruckAttributes" enabled="false" priorityLevel="0"/&gt;
              &lt;Theme id="PTV_RestrictionZones" enabled="false" priorityLevel="0"/&gt;
              &lt;Theme id="PTV_SpeedPatterns" enabled="false" priorityLevel="0"/&gt;
            &lt;/Themes&gt;
          &lt;/FeatureLayer&gt;
          &lt;Routing majorVersion="2" minorVersion="0"&gt;
            &lt;Course&gt;
              &lt;AdditionalDataRules enabled="true" /&gt;
              &lt;DynamicRouting limitDynamicSpeedToStaticSpeed="false" /&gt;
            &lt;/Course&gt;
            &lt;Vehicle&gt;
              &lt;Load hazardousGoodsType="HAZARDOUS" /&gt;
            &lt;/Vehicle&gt;
          &lt;/Routing&gt;
        &lt;/Profile&gt;
</value>
      </setting>
      <setting name="FeatureLayerNorthAmerica" serializeAs="String">
        <value>&lt;Profile
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
    &lt;FeatureLayer majorVersion="1" minorVersion="0"&gt;
        &lt;GlobalSettings enableTimeDependency="true"/&gt;
        &lt;Themes&gt;
            &lt;Theme id="PTV_PreferredRoutes" enabled="false" priorityLevel="0"&gt;
                &lt;PropertyValue id='preferredRouteType' value='1'/&gt;
                &lt;PropertyValue id='preferredRouteType' value='2'/&gt;
                &lt;PropertyValue id='preferredRouteType' value='3'/&gt;
                &lt;PropertyValue id='preferredRouteType' value='4'/&gt;
                &lt;PropertyValue id='preferredRouteType' value='5'/&gt;
                &lt;PropertyValue id='preferredRouteType' value='7'/&gt;
                &lt;PropertyValue id='preferredRouteType' value='18'/&gt;
                &lt;PropertyValue id='preferredRouteType' value='21'/&gt;
                &lt;PropertyValue id='preferredRouteType' value='22'/&gt;
            &lt;/Theme&gt;
            &lt;Theme id="PTV_SpeedPatterns" enabled="false" priorityLevel="0"/&gt;
        &lt;/Themes&gt;
    &lt;/FeatureLayer&gt;
    &lt;Routing majorVersion="2" minorVersion="0"&gt;
        &lt;Course&gt;
            &lt;AdditionalDataRules enabled="true" /&gt;
            &lt;DynamicRouting limitDynamicSpeedToStaticSpeed="false" /&gt;
        &lt;/Course&gt;
        &lt;Vehicle&gt;
            &lt;Load hazardousGoodsType="HAZARDOUS" /&gt;
        &lt;/Vehicle&gt;
    &lt;/Routing&gt;
&lt;/Profile&gt;</value>
      </setting>
      <setting name="FeatureLayerAustralia" serializeAs="String">
        <value>&lt;Profile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
          &lt;FeatureLayer majorVersion="1" minorVersion="0"&gt;
            &lt;GlobalSettings enableTimeDependency="true"/&gt;
            &lt;Themes&gt;
              &lt;Theme id="PTV_PreferredRoutes" enabled="false" priorityLevel="0"&gt;
                &lt;PropertyValue id='preferredRouteType' value='9'/&gt;
                &lt;PropertyValue id='preferredRouteType' value='17'/&gt;
                &lt;PropertyValue id='preferredRouteType' value='23'/&gt;
            &lt;/Theme&gt;
              &lt;Theme id="PTV_TruckAttributes" enabled="false" priorityLevel="0"/&gt;
              &lt;Theme id="PTV_SpeedPatterns" enabled="false" priorityLevel="0"/&gt;
            &lt;/Themes&gt;
          &lt;/FeatureLayer&gt;
          &lt;Routing majorVersion="2" minorVersion="0"&gt;
            &lt;Course&gt;
              &lt;AdditionalDataRules enabled="true" /&gt;
              &lt;DynamicRouting limitDynamicSpeedToStaticSpeed="false" /&gt;
            &lt;/Course&gt;
            &lt;Vehicle&gt;
              &lt;Load hazardousGoodsType="HAZARDOUS" /&gt;
			  &lt;Physical&gt;
			    &lt;Dimension height='480'/&gt;
			  &lt;/Physical&gt;
            &lt;/Vehicle&gt;
          &lt;/Routing&gt;
        &lt;/Profile&gt;</value>
      </setting>
    </Ptv.XServer.Demo.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XLocateWSBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="XLocateWSBinding1"/>
        <binding name="XRouteWSBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="XRouteWSBinding1"/>
        <binding name="XTourWSBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="XTourWSBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api-eu-test.cloud.ptvgroup.com/xlocate/ws/XLocate" binding="basicHttpBinding" bindingConfiguration="XLocateWSBinding" contract="XlocateService.XLocateWS" name="XLocateWSPort"/>
      <endpoint address="https://api-eu-test.cloud.ptvgroup.com/xroute/ws/XRoute" binding="basicHttpBinding" bindingConfiguration="XRouteWSBinding" contract="XrouteService.XRouteWS" name="XRouteWSPort"/>
      <endpoint address="https://api-eu-test.cloud.ptvgroup.com/xtour/ws/XTour" binding="basicHttpBinding" bindingConfiguration="XTourWSBinding" contract="XtourService.XTourWS" name="XTourWSPort"/>
    </client>
  </system.serviceModel>
 
  <system.diagnostics>
    <sources>
      <source name="WmsMapService" switchName="General" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="Console"/>
          <add name="File"/>
          <remove name="Default"/>
        </listeners>
      </source>

      <source name="XMapTiledProvider" switchName="General" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="Console"/>
          <add name="File"/>
          <remove name="Default"/>
        </listeners>
      </source>

      <source name="RemoteTiledProvider" switchName="General" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="Console"/>
          <add name="File"/>
          <remove name="Default"/>
        </listeners>
      </source>

      <source name="XMapMetaInfo" switchName="General" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="Console"/>
          <add name="File"/>
          <remove name="Default"/>
        </listeners>
      </source>
      
      <!-- For demonstrational reasons, the trace source "ThreadPool" contains an own switch, which can be configured 
      differently compared to the 'General' switch. To provide an individual switch for a dedicated class makes it 
      possible to increase the detail level only for this class, getting a more detailed view of the class' behavior. 
      In case of the switch named 'ThreadPool', the sub node with the corresponding name in the 'switches-node' has to
      be modified to value="Verbose", to get detailed information of the ThreadPool class. -->
      <source name="ThreadPool" switchName="ThreadPool" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="Console"/>
          <add name="File"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="General" value="Error"/>
      <add name="ThreadPool" value="Error"/>
    </switches>
    <sharedListeners>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
      <add name="File" type="System.Diagnostics.TextWriterTraceListener" initializeData="myListener.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
